{{define "content"}}
<div class="hub-page">

  <aside class="hub-sidebar">
    <p class="hub-sidebar__section">Resources</p>
    <ul class="hub-sidebar__links">
      <li><a href="/hub/ogv" class="hub-sidebar__link">Outgoing Global Volunteer</a></li>
      <li><a href="/hub/ogt" class="hub-sidebar__link hub-sidebar__link--active">Outgoing Global Talent</a></li>
      <li><a href="/hub/incoming-global-talent" class="hub-sidebar__link">Incoming Global Talent</a></li>
      <li><a href="/hub/talentmanagement" class="hub-sidebar__link">Talent Management</a></li>
      <li><a href="/hub/organizingcommittee" class="hub-sidebar__link">Organizing Committee</a></li>
    </ul>
  </aside>

  <div class="hub-main">

    <div class="hub-caption">
      <h2 class="hub-caption__title">OUTGOING GLOBAL TALENT</h2>
      <p class="hub-caption__text">Here you can find all resources for Outgoing Global Talent</p>
      <hr class="hub-caption__divider" />
    </div>

    <div class="hub-grid">

      <div class="hub-card">
        <a href="https://drive.google.com/drive/folders/1O5EZir8_tgvipgpDIa4QWslz1nFMwM37?usp=sharing" target="_blank" rel="noopener" class="hub-card__img-wrap">
          <img src="/static/images/hub/placeholder.jpg" alt="Attraction" class="hub-card__img" />
          <span class="hub-card__label">ATTRACTION</span>
        </a>
        <p class="hub-card__desc">FIND ALL RESOURCES RELATED TO PHYSICAL MARKETING HERE</p>
        <a href="https://drive.google.com/drive/folders/1O5EZir8_tgvipgpDIa4QWslz1nFMwM37?usp=sharing" target="_blank" rel="noopener" class="hub-card__btn">LEARN MORE</a>
      </div>

      <div class="hub-card">
        <a href="https://drive.google.com/open?id=1wW7EOAFRx43ms-dim0dV6azg0VCgFJB-" target="_blank" rel="noopener" class="hub-card__img-wrap">
          <img src="/static/images/hub/placeholder.jpg" alt="Consideration" class="hub-card__img" />
          <span class="hub-card__label">CONSIDERATION</span>
        </a>
        <p class="hub-card__desc">BE THE SALES EXPERT IN YOUR LOCAL COMMITTEE</p>
        <a href="https://drive.google.com/open?id=1wW7EOAFRx43ms-dim0dV6azg0VCgFJB-" target="_blank" rel="noopener" class="hub-card__btn">LEARN MORE</a>
      </div>

      <div class="hub-card">
        <a href="https://drive.google.com/open?id=1s5aV9mXSHPKUMw9OVqy6eneH3YaVaXsE" target="_blank" rel="noopener" class="hub-card__img-wrap">
          <img src="/static/images/hub/placeholder.jpg" alt="Preparation" class="hub-card__img" />
          <span class="hub-card__label">PREPARATION</span>
        </a>
        <p class="hub-card__desc">UNDERSTAND HOW TO PREPARE YOUR EXCHANGE PARTICIPANT</p>
        <a href="https://drive.google.com/open?id=1s5aV9mXSHPKUMw9OVqy6eneH3YaVaXsE" target="_blank" rel="noopener" class="hub-card__btn">LEARN MORE</a>
      </div>

      <div class="hub-card">
        <a href="https://drive.google.com/open?id=1S3sYHq9nY3HcyN8W1RkXmTABUy66bCTP" target="_blank" rel="noopener" class="hub-card__img-wrap">
          <img src="/static/images/hub/placeholder.jpg" alt="International Relations" class="hub-card__img" />
          <span class="hub-card__label">INTERNATIONAL RELATIONS</span>
        </a>
        <p class="hub-card__desc">KNOW OUR NATIONAL PARTNERS &amp; HOW TO CREATE YOUR OWN</p>
        <a href="https://drive.google.com/open?id=1S3sYHq9nY3HcyN8W1RkXmTABUy66bCTP" target="_blank" rel="noopener" class="hub-card__btn">LEARN MORE</a>
      </div>

      <div class="hub-card">
        <a href="https://drive.google.com/open?id=1QezBgBPqEfOMiAM1_4j1_gj-HHzyfDlM" target="_blank" rel="noopener" class="hub-card__img-wrap">
          <img src="/static/images/hub/placeholder.jpg" alt="Member Training" class="hub-card__img" />
          <span class="hub-card__label">MEMBER TRAINING</span>
        </a>
        <p class="hub-card__desc">EVERYTHING YOU NEED TO TRAIN YOUR MEMBERS</p>
        <a href="https://drive.google.com/open?id=1QezBgBPqEfOMiAM1_4j1_gj-HHzyfDlM" target="_blank" rel="noopener" class="hub-card__btn">LEARN MORE</a>
      </div>

      <div class="hub-card">
        <a href="https://drive.google.com/open?id=1D6PKVmuFs3C9ZvDk_ByUQeYIJvtoGSkV" target="_blank" rel="noopener" class="hub-card__img-wrap">
          <img src="/static/images/hub/placeholder.jpg" alt="Tracker Templates" class="hub-card__img" />
          <span class="hub-card__label">TRACKER TEMPLATES</span>
        </a>
        <p class="hub-card__desc">SAMPLE TRACKERS FOR YOUR TEAM AND STANDARDS</p>
        <a href="https://drive.google.com/open?id=1D6PKVmuFs3C9ZvDk_ByUQeYIJvtoGSkV" target="_blank" rel="noopener" class="hub-card__btn">LEARN MORE</a>
      </div>

      <div class="hub-card">
        <a href="https://drive.google.com/open?id=1nxc4Z_BarnqSNsb6H1C3W5yrDlwVVnN2" target="_blank" rel="noopener" class="hub-card__img-wrap">
          <img src="/static/images/hub/placeholder.jpg" alt="EXPA/Salesforce Videos" class="hub-card__img" />
          <span class="hub-card__label">EXPA/SALESFORCE VIDEOS</span>
        </a>
        <p class="hub-card__desc">WATCH VIDEOS ON EXPA, CORE AND THE NEW PAYMENT SYSTEM</p>
        <a href="https://drive.google.com/open?id=1nxc4Z_BarnqSNsb6H1C3W5yrDlwVVnN2" target="_blank" rel="noopener" class="hub-card__btn">LEARN MORE</a>
      </div>

      <div class="hub-card">
        <a href="https://drive.google.com/file/d/1HK3XGPUvTSZUKQUooaxoClZEMPBxcrqU/view?usp=sharing" target="_blank" rel="noopener" class="hub-card__img-wrap">
          <img src="/static/images/hub/placeholder.jpg" alt="Withdrawal Form" class="hub-card__img" />
          <span class="hub-card__label">WITHDRAWAL FORM</span>
        </a>
        <p class="hub-card__desc">WITHDRAWAL FORM NEEDED TO BREAK AN APPROVAL</p>
        <a href="https://drive.google.com/file/d/1HK3XGPUvTSZUKQUooaxoClZEMPBxcrqU/view?usp=sharing" target="_blank" rel="noopener" class="hub-card__btn">LEARN MORE</a>
      </div>

    </div>
  </div>
</div>


{{end}}